html {
    background-color: #000;
    color: #fff;
    display: flex;
    font-family:monospace;
    width: 100vw;
    height: 100vh;
}

body {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2vh;
}


div.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: fadeIn 1s; 
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

   
}

div.links {
    padding: 32px;
    display: flex;
    

    
}

div.links a {
    color: #fff;
    font-size: 2vh !important;
}

a.btn {
    padding: 12px 20px;
    text-decoration: none !important;
    background-color: #fff;
    color: #000 !important;
    transform: skew(-12deg);
    font-size: 2.5vh !important;
    transition: all 0.3s;
}

a.btn :hover {
    background-color: pink !important;
}

img {
    width: 60%;
    max-width: 60%;
    display: flex;
    border-radius: 16px;
    border: 2px solid #f2f2f2;;
}


@keyframes fadeIn {
    0% { opacity: 0;
        transform: translateY(45px); }
    100% { opacity: 1;
        transform: translateY(0px); }
  }